---
import PictoCard from "../components/PictoCard.astro";
import { getCollection } from "astro:content";
const allInter = await getCollection("intervention");
import { Image } from "astro:assets";
console.log(allInter)
---

<section class="intervention" data-col = {allInter} id="intervention">
  <div class="pictocard-container">
    {
      allInter.map((intervention) => (
        <PictoCard
          picto={intervention.data.picto}
          title={intervention.data.title}
          numb={intervention.data.numb}
        />
      ))
    }
  </div>
  {allInter.map((intervention) => (
    <div class= `presentation-container-${intervention.data.numb} presentation-container` style="display: none;">
     <Image transition:name='anim' src={intervention.data.cover} alt="" class="presentation-image" width={intervention.data.cover.width}
        densities={[1.5, 2]}  />

    <div class="presentation-text">
      <h3 class="presentation-title">{intervention.data.title}</h3>
      <p class="presentation-description">{intervention.data.description}</p>
      <a href={intervention.slug}>

      <button>En savoir plus</button>
      </a>
    </div>
  </div>
))}

</section>

<script>
  document.addEventListener('astro:page-load', () => {
  const pictos = document.querySelectorAll(".picto-container");
  let init = document.querySelector(".presentation-container-0") as HTMLElement;
  let init2 = document.querySelector(".picto-container0") as HTMLElement;
  init.style.display = "flex";
  init2.classList.add("active");
  for (let i = 0; i < pictos.length; i++) {
    pictos[i].addEventListener("click", () => {

      pictos.forEach(element => {
        element.classList.remove("active");
      });
      let pictoselect = document.querySelector(`.picto-container${i}`) as HTMLElement;
      pictoselect.classList.add("active");
        let interdisplay = document.querySelector(`.presentation-container-${i}`) as HTMLElement;
        let alldisplay = document.querySelectorAll(".presentation-container");
        alldisplay.forEach(element => {
          element.style.display = "none";})
        interdisplay.style.display = "flex";

       

    });
    
  };
})
</script>

<style lang="scss">
  .intervention {
    display: flex;
    flex-direction: column-reverse;
    background-color: #201f41;
    min-height: 80vh;
    padding: 30px 10vw ;
    
  }
  .pictocard-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
    justify-items: center;
    width: 80vw;
    gap: 1vw;
    background-color: #201f41;
    
   
    @media (max-width: 1000px) {
      width: 35%;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
      width: 30%;
      grid-template-columns: 1fr;
      padding: 10px;
    }
  }
  .presentation-container {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    
    background-color: #201f41;
    color: white;
    text-align: justify;
    overflow: hidden;
    gap: 10px;
    padding-block: 20px;
    @media (max-width: 1000px) {
      width: 65%;
    }
    @media (max-width: 700px) {
      width: 70%;
    }
    
  }
  .presentation-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 50vh;
    padding: 50px 50px;
    margin-bottom: 20px;
    background-color: rgb(75,75,75);
    border-radius: 15px;
    line-height: 1.4;
  }
  .img-container {
    width: 100%;
    
  }
  .presentation-image{
    width: 70%;
    height: 60vh;
    object-fit: cover;
    border-radius: 15px;
    flex-shrink: 0;
    
    
  }

  .presentation-text h3{
    font-size: clamp(24px, 2vw, 24px);
    margin: 0;
    text-align: center;
    padding-block: 30px;
}

  .presentation-text p{
      font-size: clamp(12px, 2vw, 16px);
      margin: 0;
      padding-block: 20px;
    }

  button{
    background-color: #2e81ff;
    border-style: none;
    color: white;
    border-radius: 25px;
    min-height: 5vh;
    width: clamp(100px, 15vw, 150px);
    font-size: clamp(12px, 2vw, 20px);
    padding: 10px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  }
</style>
